*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parent{
    color: white;
    background-color: rgb(56, 54, 54);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    
    
  }
  .parent img{
    width: 50px;
    border-radius: 50%;
  }
  .parent div p{
    color: yellowgreen;
  }
  .parent div{
    font-size: small;
  }
  .childp{
    font-size: small;
  }
  ul{
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  ul li{
    background-color:rgb(131, 131, 131) ;
    border-radius: 5px;
  }